[Unit]
Description=DavidTimovski website (F#) running on Ubuntu

[Service]
WorkingDirectory=/home/davidtimovski/website-fsharp
ExecStart=/snap/bin/dotnet /home/davidtimovski/website-fsharp/Website.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-website-fsharp
User=davidtimovski
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
